{% extends "base.html" %} {% block title %}Youv'e logged in {% endblock %} {%
block content %}
<body class="bodyfeed">
  {%block nav%}

  <nav class="commonnav">
    <div>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>MINI PROJECT</strong></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li>
            <a href="/logged_in">Home</a>
          </li>
          <li class="active">
            <a href="/feed">Feed</a>
          </li>
          <li><a href="/recommendations">Recommendations</a></li>
          <li>
            <a href="/upload">Upload</a>
          </li>

          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {%endblock %}
  <main class="grid">
    {% for item in data1 %} {% for item1 in item %}
    <article>
      <div class="author"></div>
      <img src="{{item1.image}}" alt="Image Broken" height="300" />
      <div class="text">
        <br />
        <h5>Category : {{item1.category}}</h5>
        <br />
        <p>Title:{{item1.title}}</p>
        <div class="like">
          <button>
            <a
              class="nav-item nav-link"
              href="/like/contentbased/{{item1.post_id}}"
              alt="Image Broke"
              >Like</a
            >
          </button>
        </div>
      </div>
    </article>
    {% endfor %} {% endfor %}
  </main>
</body>
{% endblock %}
