{% extends "base.html" %} {% block title %}Youv'e logged in {% endblock %} {%
block content %}
<body class="bodyfeed">
  {%block nav%}
  <nav class="commonnav">
    <div>
      <div class="container nav-wrapper">
        <div class="brand">
          <span><strong>MAJOR PROJECT</strong></span>
        </div>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="nav-list">
          <li class="active">
            <a href="/logged_in">Home</a>
          </li>
          <li>
            <a href="/feed">Feed</a>
          </li>
          <li><a href="/recommendations">Recommendations</a></li>
          <li>
            <a href="/upload">Upload</a>
          </li>

          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {%endblock %}
  <div class="container">
    <p class="container">Hello You have Logged in as {{ email }}</p>

    <div class="profilepage">
      <h2><b>Profile Details</b></h2>
      <br />
      User Details
    </div>
    <div class="userprofile">
      User Name: <b>{{name}}</b> <br /><br />
      User Email: <b>{{email}}</b>
    </div>
    <div class="logoutprofile">
      <a href="/logout">Logout</a>
    </div>
    <script src="{{ url_for('static',filename='app.js') }}"></script>
  </div>
</body>
{% endblock %}
