{% extends "base.html" %} {% block title %}Login | Recommendation System{%
endblock %} {% block content %} {% if message %} {%block nav%}
<nav class="commonnav">
  <div>
    <div class="container nav-wrapper">
      <div class="brand">
        <span><strong>MAJOR PROJECT</strong></span>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/login">login</a>
        </li>

        <li>
          <a href="/">Register</a>
        </li>
        <!-- <li><a href="/profile">Profile</a></li> -->
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {%endblock %}
  <div class="alert alert-secondary" role="alert">
    <p>{{ message }}</p>
  </div>
  {% endif %}

  <form action="" method="post">
    <div class="form-group">
      <label for="InputEmail">Email address</label>
      <input
        name="email"
        class="form-control"
        id="InputEmail"
        placeholder="Enter email"
      />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
