{% extends "base.html" %} {% block title %}Register System{% endblock %} {%
block content %} {%block nav%}
<nav class="commonnav">
  <div>
    <div class="container nav-wrapper">
      <div class="brand">
        <span><strong>MINI PROJECT</strong></span>
      </div>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <ul class="nav-list">
        <li>
          <a href="/logged_in">Home</a>
        </li>
        <li>
          <a href="/feed">Feed</a>
        </li>
        <li><a href="/recommendations">Recommendations</a></li>
        <li class="active">
          <a href="/upload">Upload</a>
        </li>

        <li><a href="/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

{%endblock %}

<h1 class="container">Upload Sucess</h1>
<br />
<div class="container">
  <button><a href="/feed">Go to Feed</a></button>
</div>

{% endblock %}
